Olá {nome}! Essa é uma mensagem automática de sua compra em nosso site (Pedido #{numero_pedido}).

Para sua comodidade, segue o código Pix Copia e Cola do intermediador de pagamentos Pagali (Pagali Serviços de Pagamento S.A), referente ao Qrcode de sua compra em nosso site www.zargo.com.br. Somente assim a confirmação será automática, 24 horas por dia!
