Olá {nome}! Obrigado por comprar em nossa loja. 🛒

Para sua comodidade, enviamos abaixo as informações de pagamento via Pix para o seu Pedido #{numero_pedido} (Valor: {valor_total}).

📌 Você pode escanear a foto do QR Code a seguir ou copiar o código Pix Copia e Cola diretamente na legenda da imagem.

Sua Loja Ltda - CNPJ: 00.000.000/0001-00
www.sualoja.com.br
